@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    line-height: 2;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, #c7b6a62f, #9b939c4f) , url(../img/image1.jpg);
    background-position: center;
    background-size: cover;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -35%);
    width: 100%;
    overflow: hidden;
}

.text-box h1 {
    text-transform: uppercase;
    color: #cff017;
    text-shadow: 0 0 3px red, 0 0 5px blueviolet;
}

.heading-main {
    display: block;
    font-size: 5rem;
    letter-spacing: 1.1rem;
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    80% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

.heading-sub {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1.3rem;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInRight {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    80% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}

.btn-container {
    text-align: center;
}

.btn {
    border-bottom: 0.2rem solid pink;
    color: white;
    display: inline-block;
    font-size: 3rem;
    padding: 1rem;
    margin-top: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgba(255, 192, 203, 0.459);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0.15);
    transform: translateY(-5px);
}

.btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.15);
    transform: translateY(5px);
}

.main {
    background-color: rgb(253, 177, 190);
    height: 1200px;
    margin-top: -5rem;
    text-align: center;
    padding-top: 5rem;
    clip-path: polygon(51% 6%, 100% 0, 100% 43%, 100% 87%, 84% 92%, 44% 100%, 0 91%, 0% 43%, 0 0);
}

.main h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 0 0 3px red, 0 0 5px blueviolet;
    text-transform: uppercase;
}

.gallery {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 75%;
}

.gallery_photo {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
    outline-offset: 1rem;
    position: absolute;
    width: 500px;
    transition: all 0.3s;
    z-index: 10;
}

.gallery_photo:hover {
    outline: 1.8rem solid rgba(253, 177, 190, 0.39);
    transform: scale(1.1);
    z-index: 30;
}

.gallery_photos-1 {
    left: 16%;
    top: 15%;
    width: 500px;
}

.gallery_photos-2 {
    top: 45%;
}

.gallery_photos-3 {
    left: 35%;
    top: 25%;
    width: 495px;
}

.footer {
    color: rgb(252, 143, 161);
    font-size: 2rem;
    height: 200px;
    padding: 2rem;
    text-align: center;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: rgb(252, 143, 161);
    text-decoration: none;
}

.footer ul li:hover, .footer ul li a:hover {
    color: rgb(248, 69, 99);
    transform: scale(1.2);
}